@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;

}

.image-class { 
  width: 100%; 
  height: auto; 

}

.custom-img {
  background-image: url('../public/robert-richarz-fVsPF_SNIS4-unsplash.jpg');
}
