@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('../public/robert-richarz-fVsPF_SNIS4-unsplash.jpg');
}

.slider-img {
  width: 1440px;
  height: 600px;
  object-fit: cover;
}